<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User manager test</title>
</head>
<body>
    {% if user.is_authenticated %}
        <p>User already on session: {{ user.names }} {{ user.lnames }}</p>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Log out</button>
        </form>
    {% else %}
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        <h2>Register an user</h2>
        <form method="post" action="{% url 'usermgr' %}">
            {% csrf_token %}
            <input type="hidden" name="signup" value="signup">
            <input type="text" id="register_run" name="register_run", placeholder="RUN (No dots, with slash)"><br>
            <input type="text" id="register_names" name="register_names" placeholder="Names" required><br>
            <input type="text" id="register_lnames" name="register_lnames" placeholder="Last names" required><br>
            <input type="email" id="register_email" name="register_email" placeholder="Email" required><br>
            <input type="password" id="register_password" name="register_password" placeholder="Password" placeholder="Password" required><br>
            <button type="submit">Register</button>
        </form>

        <h2>Login</h2>
        <form method="post" action="{% url 'usermgr' %}">
            {% csrf_token %}
            <input type="hidden" name="login" value="login">
            <input type="email" id="login_email" name="login_email" placeholder="Email" required><br>
            <input type="password" id="login_password" name="login_password" placeholder="Password" required><br>
            <button type="submit">Login</button>
        </form>
    {% endif %}
</body>
</html>